@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-base: #fff;

  /* fonts size */
  --font-xs: clamp(0.3rem, 0.1vw + 0.3rem, 0.4rem);
  --font-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-2xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-3xl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  color: #000;
}

@layer components {
  .highlight-line {
    @apply relative after:absolute after:bg-clr-highlight after:h-1 after:w-16 after:left-0 after:-bottom-1 after:rounded-xl;
  }

  .hiddenMobileBar {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
  }

  .scroll {
    --bg-scroll: #a3a3a3;
    --bg-thumb: rgb(0, 0, 0);

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: var(--bg-scroll);
      border-radius: .2rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--bg-thumb);
      border-radius: 1rem;
      border: .2rem solid var(--bg-scroll);
    }
  }
}
